.bestPopularDestination {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 110%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.unearthNewHorizons {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-regular-size);
  line-height: 150%;
  color: var(--neutral-600);
}
.imageHandler {
  width: 648px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.button {
  height: 44px;
  width: 121px;
}
.imageHandlerParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  flex-shrink: 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--h2-size);
  color: var(--neutral-800);
  font-family: var(--body-regular);
}
@media screen and (max-width: 1125px) {
  .imageHandlerParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .bestPopularDestination {
    font-size: var(--font-size-26xl);
    line-height: 49px;
  }
  .imageHandler {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .bestPopularDestination {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
}
