.whatsappIcon {
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.whatsappParent,
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.whatsappParent {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 122px;
  text-align: center;
  font-size: var(--body-regular-size);
  color: var(--neutral-200);
  font-family: var(--body-regular);
}
