.variableDeclaration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.instanceInitialization {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.functionCall,
.instanceInitialization,
.returnStatement {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.functionCall {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.returnStatement {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-41xl) var(--padding-101xl-1);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h4-size);
  color: var(--neutral-800);
  font-family: var(--body-regular);
}
@media screen and (max-width: 1125px) {
  .returnStatement {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .instanceInitialization {
    gap: var(--gap-base);
  }
  .functionCall {
    gap: var(--gap-21xl);
  }
  .returnStatement {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .functionCall {
    gap: var(--gap-xl);
  }
  .returnStatement {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
}
